.circle_auth {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.circle_auth_form {
	width: 480px;
	padding: 3rem;
	background-color: white;
	border-radius: 5px;
}

.form_metadata_label {
	display: inline-block;
	margin-bottom: 0.5rem;
}

.form_metadata_button {
	border: 1.5px solid black;
	font-weight: 400;
}
